@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
}

.ms-primary {
  color: #b38b37;
}

.ms-bg-primary {
  background-color: #b38b37;
}