@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Nunito+Sans&display=swap');

body h1,
body h2,
body h3 {
  font-family: 'Fraunces', serif;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.ms-primary {
  color: #b38b37;
}

.ms-bg-primary {
  background-color: #b38b37;
}